
<div class="c-footer">


  <div class="c-footer--links">
    <div class="c-footer--links__icon"><a href="https://www.github.com/Albertup" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></div>
    <div class="c-footer--links__icon"><a href="https://www.linkedin.com/in/albertup/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></div>
    <div class="c-footer--links__icon"><a href="https://www.twitter.com/albertupgrade" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></div>
    <div class="c-footer--links__icon"><a href="https://www.behance.net/albertogarca47" target="_blank"><i class="fa fa-behance-square" aria-hidden="true"></i></a></div>
</div>
  <div>
    <h4>Copyright Shoplifting © 2022</h4>
  </div>
</div>
