
<div class="c-container">
  <div class="c-container--box">
    <h2>Bienvenido a Shoplifting</h2>
    <div class="c-item--box-inner">
          <h3 *ngIf="sections[0]">{{ sections[0].title}}</h3>
          <p *ngIf="sections[0]">{{ sections[0].text}}</p>
    </div>
    <div class="c-item--box-inner">
      <h3 *ngIf="sections[1]">{{ sections[1].title}}</h3>
      <p *ngIf="sections[1]">{{ sections[1].text}}</p>
    </div>
    <div class="c-item--box-inner">
      <h3 *ngIf="sections[3]">{{ sections[3].title}}</h3>
      <p *ngIf="sections[3]">{{ sections[3].text}}</p>
    </div>
    <div class="c-item--box-inner">
      <h3 *ngIf="sections[3]">{{ sections[3].title}}</h3>
      <p *ngIf="sections[3]">{{ sections[3].text}}</p>
    </div>
  </div>
</div>
<app-footer-page></app-footer-page>
